@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

section {
   height: 100vh;
   background: linear-gradient(rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.589)),
      url(./assets/pexels-anamul-rezwan-1216589.jpg);
   background-size: cover;
   font-family: "Oswald", sans-serif;
}

header a {
   text-decoration: none;
   color: #fff;
}

header {
   display: grid;
   grid-template-columns: 5% auto 5%;
}

.logo {
   display: none;
}

nav {
   grid-column: 2/3;
   display: flex;
   justify-content: center;
   align-items: center;
}

nav ul {
   grid-column: 2/3;
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
   padding: 0;
}

nav li {
   padding: 0.5em;
   margin-bottom: 0;
}

.home-hero {
   width: 90%;
   color: #fff;
   margin: auto;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   font-size: 1em;
   text-transform: uppercase;
   text-align: center;
}

.call-action {
   background-color: rgb(170, 236, 132);
   padding: 1em;
   border: none;
   text-transform: uppercase;
   font-family: "Oswald", sans-serif;
}

@media screen and (min-width: 800px) {
   header {
      display: grid;
      grid-template-columns: 5% auto minmax(600px, 80%) 5%;
   }

   .logo {
      grid-column: 2 / 3;
      display: flex;
      justify-content: flex-start;
      text-decoration: none;
      font-family: cursive;
      align-items: center;
      font-size: 1.3em;
   }

   nav {
      all: unset;
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }

   nav ul {
      display: flex;
   }

   nav li {
      margin-bottom: 0;
   }

   nav a {
      opacity: 1;
      position: relative;
   }
}

@media screen and (min-width: 585px) {
   .home-hero {
      font-size: 1.5em;
      text-align: left;
   }
}
